@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

.underline{
    text-decoration: underline;
}

.group:hover .product-title {
    text-decoration: underline;
  }

  .responsive-text-name {
    max-width: 334px;
    font-size: 11px;
  }

  .responsive-text-price {
    max-width: 313px;
    font-size: 10px;
  }
  
  @media (min-width: 335px) {
    .responsive-text-name {
      font-size: 13.5px;
    }

    .responsive-text-price {
      font-size: 12px;
    }
  }
  